@import "font-awesome";
@import "components";
@import "todo";

$stage-container: #fafafa;
$stage-color: #fdfdfd;
$stage-border: solid #eee 1px;
$header-font: "Helvetica Neue", Helvetica, sans-serif;
$copy-font: "Helvetica Neue", Helvetica, sans-serif;

$peter-river: #3498DB;
$turquoise: #1ABC9C;
$wisteria: #8E44AD;
$nephritis: #27AE60;
$pumpkin: #D35400;
$pomegranate: #C0392B;
$green-sea: #16A085;
$belize-hole: #2980B9;
$sunflower: #F1C40F;
$carrot: #E67E22;
$concrete: #95A5A6;
$clouds: #ECF0F1;
$orange: #F39C12;

$header-bg: #23292F;
$footer-bg: #333;
//#AC0818;
$body-bg: #F3F5F6;
$link-color: #00BDD9;
$link-hl-color: #1FE1FF;
$nav-item-bg: rgba(0,0,0,0.3);
$bleed-content-bg: rgba(35,41,47,0.95);
$call-out-bg: #e8e8e8;

body, html {
  font-size: 1em;
  width: 100%;
  height: 100%;
}

body {
  background-color: $body-bg;
}

h1, h2, h3, h4, h5 {
  color: #444;
}

h1 {
  margin-bottom: 5px;
}

h5 {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

strong {
  font-weight: bold;
  font-style: normal;
}

code {
  padding-top: 1px;
  padding-bottom: 1px;
}

pre {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
  background-color: #fafafa;
}

a {
  color: $link-color; // #6A93D4;
}

a:hover {
  color: $link-hl-color;
}

.container {
  max-width: 940px;
}

.clear { clear: both; }

header {
  &.navbar.navbar-inverse {
    background-color: $header-bg;

    .navbar-nav > .active > a {
      background-color: $nav-item-bg;
      color: white;
    }

    li {
      margin-right: 0.5em;
    }

    .navbar-nav a {
      border-radius: 0px;
      color: #eee;
      -webkit-font-smoothing: antialiased;
    }

    .navbar-nav a:hover {
      color: white;
      background-color: $nav-item-bg;
    }

  }

  color: white;

  &.navbar {
    margin-bottom: 0;
  }

  &.navbar h1 {
    letter-spacing: 8px;
  }

  a {
    color: white;
  }

  a:hover {
    color: #eee;
  }

  .nsfw-icon {
    display: inline;
  }

  h1, h2 {
    margin: 0;
    line-height: 1.6em;
  }

  .navbar-brand h1 {
    font-weight: normal;
    font-size: 1.8em;
  }

  a.navbar-brand {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  a.navbar-brand:hover {
    color: #eee;
    text-decoration: none;
  }

  h1 {
    display: inline-block;
    margin-bottom: 0;
  }

  .top-nav {
    display: inline-block;
    float: right;
  }

  .top-nav li {
    display: inline-block;
    margin-left: 0.6em;
  }
}

.row {
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

.hero-content {
  padding: 40px;
  background-color: $bleed-content-bg;
  width: 45%;
  float: right;
  color: white;
  font-family: $copy-font;
  font-weight: 400;

  @media screen and (max-width: 768px) {
    width: 101%;
    background-color: rgba(0,0,0,0.6);
//    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 10em;
  }

  h1, h2, h3, h4, h5 {
    color: white;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: normal;
    font-family: $header-font;
  }

  h2 {
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 0.5em;
  }

  p {
    line-height: 160%;
    max-width: 500px;
  }
}

.hero-link {
  color: black;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.85;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #3AA6AF;

  &:hover {
    text-decoration: none;
    opacity: 1;
    color: black;
  }
}

.glyph {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  text-align: center;
}

.xl.glyph {
  font-size: 72px;
  width: 96px;
  height: 96px;
}

.large.glyph {
  font-size: 46px;
  width: 62px;
  height: 62px;
}

.med.glyph {
  font-size: 32px;

}

.small.glyph {
  font-size: 18px;
}

.tiny.glyph {
  font-size: 12px;
}

.icon-cubby {
  text-align: center;
  float: left;
  list-style-type: none;
  padding: 20px;
  margin: 20px;
  width: 160px;
  border: solid #ccc 1px;
  font-size: 10px;
  height: 60px;
}

.icon-cubby .glyph {
  font-size: 40px;
}

.icons {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.icons h2 {
  font-size: 30px;
}

.nsfw-icon {
  font-size: 42px;
  margin-right: 7px;
  padding: 0px;
  line-height: 30px;
  display: inline-block;
  margin-bottom: 1px;
}

.data-input {
  width: 100%;
  position: relative;
}

.data-input textarea {
  resize: none;
  padding: 10px;
  width: 100%;
  width: calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  background-color: $stage-color;
  border: none;
  outline: none;
  height: 150px;
}

.data-input-error {
  position: absolute;
  top: 3px;
  right: 3px;
}

.html-vis {
  background-color: $stage-color;
  width: 100%;
  width: calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);

  margin-top: 20px;
  height: 50%;
  height: calc(50% - 40px);
  height: -webkit-calc(50% - 40px);
  height: -moz-calc(50% - 40px);
  padding: 10px;
}


.html-vis li {
}

.example {
  background-color: $stage-container;
  border: $stage-border;
  padding: 20px;
  margin-bottom: 1em;
}

.example h1,
.example h2,
.example h3,
.example h4,
.example h5,
.example h6 {
  margin: 0;
  padding: 0;
}

input#my-key {
  width: 120px;
}

.local-storage-example pre {
  margin-bottom: 20px;
}

.local-storage-example form {
  background-color: white;
  padding: 10px;
  border: solid #e8e8e8 1px;
  margin: 0;
  border: dotted #e8e8e8 1px;
}

.error {
  background-color: #fcc;
}

.geoloc-example {
}

.geoloc-example .map {
  height: 300px;
  border: solid #ccc 1px;
  margin-bottom: 10px;
}

.geoloc-example a.btn {
  display: block;
}

.bleed-box-example {
  background-color: rgba(255,255,255,0.8);
}

.bleed-box-example pre {
  margin: 0px;
}

.supported-browsers {
  margin-top: 50px;
  text-align: center;
  margin-right: 60px;
}

.supported-browsers li {
  display: inline-block;
  list-style-type: none;
  margin-right: 30px;
  margin-bottom: 20px;
}

.supported-browsers li img {
  margin-bottom: 5px;
}

.loading-example label {
  display: inline-block;
  width: 170px;
  text-align: right;
  margin-right: 20px;
}

.loading-example .button-row {
  margin-bottom: 10px;
}

.div-loading {
  padding: 20px;
  border: solid #ccc 1px;
  text-align: center;
  margin-bottom: 10px;
}

.loading-example textarea {
  width: 300px;
  height: 130px;
}

.bg-green {
  background-color: #afa !important;
}

.ani-example {
  height: 300px;
  border: $stage-border;
  position: relative;
  background-color: $stage-color;
}

.ani-example .ball {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #eee;
  border: solid #ddd 1px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.section {
  margin: 2em;
}

.section-link {
  font-size: 12px;
  font-weight: normal;
  margin-left: -30px;
  -webkit-transform: rotate(-90deg) translate(7px);
  line-height: 10px;
  padding: 2px;
  display: inline-block;
  margin-top: -10px;
  font-family: $copy-font;
}

.section-link:hover {
  text-decoration: none;
  background-color: #efefef;
}

.table-params-wrapper {

  h3 {
    margin: 0;
  }

  padding: 20px;
  background-color: white;
}

table.params {
  width: 100%;
  padding: 20px;
  font-size: 12px;
}

table.params code {
  font-size: 11px;
}

table.params th {
  border-bottom: solid #ccc 1px;
  padding-bottom: 5px;
  text-align: left;
  padding-left: 10px;
}

table.params td {
  padding: 10px;
  border-bottom: solid #eee 1px;
  font-size: 12px;
}

.chart-result {
  margin-right: 10px;
}

@media screen and (max-width: 980px) {
  .example pre {
    font-size: 10px;
  }
}

.para-width-ex {
  p {
    background-color: #eee;
    padding: 10px;
  }
}

.container.design {
  h4 {
    margin-top: 20px;
  }
}

.grid-images {
  text-align: right;

  .mouseover-image {
    display: inline-block;
    position: relative;
    margin-left: 20px;
  }

  img {
    max-width: 150px;
    vertical-align: top;
    border: solid #eee 1px;
  }

  span {
    opacity: 0;
    z-index: 1;
    position: absolute;
    text-align: center;
    padding-top: 40px;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
  }

  img.border {
    border: solid #eee 1px;
  }
}

.test-content {
  border: solid #eee 1px;
  padding: 20px;
  position: relative;


  a.run {
    text-decoration: none;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    color: #aaa;
    font-weight: 200;
    font-size: 0.7em;
  }

  a.run:hover {
    cursor: pointer;
  }

  a.run:active {
    color: #444;
  }
}

.hero-container {
  padding: 2em;
}

.page-content {
  padding: 2em;
}


.easing > * {
  margin-bottom: 0.5em;
}


.page-intro {
  .row {
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
  }

  .rationale .images,
  .good-design .images {
    text-align: center;
  }

  .rationale img,
  .good-design img {
    display: inline-block;
    max-width: 140px;
    vertical-align: top;
    margin-right: 1em;
    margin-bottom: 0.5em;
  }

  .call-out {
    background-color: $call-out-bg;
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
  }

  .clojure-logo {
    margin-bottom: 1em;
  }

  .divider {
    height: 2em;
    background-color: #eee;
    border-bottom: solid #ccc 1px;
    border-top: solid #ccc 1px;
    margin-bottom: 2em;
  }

  .intro {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  section {
    margin-bottom: 2em;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .mobile-optimized img {
    max-width: 100%;
  }
}

.page-demo {
  section.code {
    padding: 1em;
    margin-bottom: 1em;

    pre {
      background-color: white;
      border: none;
      border-left: solid #eee 4px;
      border-radius: 0;
    }
  }

  h3 {
    margin-bottom: 0.4em;
  }

  h3 code {
    background-color: white;
  }

  .col-lg-6 {
    margin-bottom: 1em;
  }

  .demo-example {
    background-color: #f8f8f8;
    padding: 1em;
    margin-bottom: 1em;
   }

  .syntaxhighlighter,
  .syntaxhighlighter a,
  .syntaxhighlighter div,
  .syntaxhighlighter code,
  .syntaxhighlighter table,
  .syntaxhighlighter table td,
  .syntaxhighlighter table tr,
  .syntaxhighlighter table tbody,
  .syntaxhighlighter table thead,
  .syntaxhighlighter table caption,
  .syntaxhighlighter textarea {
    @media screen and (max-width: 600px) {
      font-size: 0.92em
    }
  }

  p {
    line-height: 1.7em;
//    font-family: Georgia, 'Times New Roman', serif;
    margin-bottom: 1em;
  }

  pre {
    margin-bottom: 1.5em;
  }
}

.bleed-box {
  height: 85%;

  @media screen and (max-width: 768px) {
    position: relative;
    min-height: 10em;
  }
}

.bleed-box .navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.navbar.navbar-inverse {
  background-color: black;
  color: white;

  h1 {
    color: white;
  }

  h1:hover {
    color: #eee;
  }
}

.navbar.navbar-inverse {
  padding: 10px;
  border-radius: 0;
}

@media screen and (max-width: 991px) {
  .affix {
    position: static;
  }
}

@media screen and (min-width: 991px) {
  .affix {
    position: fixed;
    top: 20px;
    width: 189px;
  }
}

.page-wrap {
  min-height: 100%;
//  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

footer {
  padding: 1em;
  background-color: $footer-bg;
  color: #aaa;
  font-weight: 300;
  font-size: 0.9em;

  a {
    color: $link-color;
  }

  i {
    margin-right: 0.3em;
  }

  .quote:before {
    content: "\"";
  }

  .quote:after {
    content: "\"";
  }
}

.library {
  .libcont {
    background-image: url('/img/bg-checkers.png');
    padding: 1em;
    margin-bottom: 2em;
    position: relative;
  }

  .demo-nav-container {
    text-align: center;
    h2 {
      text-align: left;
    }

    .demo-nav {
      display: inline-block;
      width: 200px;
      margin-right: 1em;
    }
  }

  pre {
    margin-bottom: 2em;
    position: relative;
  }

  .tag {
    font-size: 11px;
    right: 0px;
    bottom: -16px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    position: absolute;
    color: #ccc;
    font-weight: 300;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
  }
}

// Library

.demo-nav,
.sub-nav {
  margin-bottom: 1em;
  background-color: #FAFAFA;

  a {
    color: black;
  }

  li a:hover {
    background-color: rgba(0,0,0,0.1);
  }

  & > li {
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold
  }

  li:hover {
  }

  li.active {
    background-color: rgba(0,0,0,0.07);
    display: block;
  }

  .on-page-nav {
    margin: 0;
    padding: 0;
    text-transform: none;
    padding-bottom: 1em;
    font-weight: normal;

    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    a {
      padding: 5px 25px;
      display: block;
    }

    a:hover {
      text-decoration: none;
    }
  }
}

.page-repl {
  .console-entry {
    padding: 1em;
    margin-bottom: 0.3em;
    border-bottom: solid #ccc 1px;
  }

  table {
    width: 100%;
    td {
      padding: 0.5em;
    }
  }
}

.page-spy {
  .component {
    margin-bottom: 3em;
  }

  .table td {
    border-top: none;
  }

  h2 {
    border-bottom: solid #ddd 1px;
    padding-bottom: 0.25em;
  }

  h3 {
    margin-bottom: 0.75em;
  }

  h4 {
    margin-bottom: 1em;
  }
}

.demo-content {
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child
  {
    margin-top: 0em;
  }

  h1, h2, h3, h4, h5 {
    margin-top: 1em;
  }
}


.page-lead {
  border-bottom: solid #B9C2CA 1px;
  margin-bottom: 1em;
}